* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    box-sizing: border-box;
}

.milckway {
    
    display: grid;
    gap: 98px;
}

.milckway .thanatos {
    justify-content: center;
}



.solarsystem {
    display: flex;

    justify-content: center;
    align-items: center;


    .sun {
        display: flex;

        justify-content: center;
        align-items: center;
        width: 1600px;
        height: 749px;

        background-image: url(./images/Rectangle\ 4.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;

        .venus {
            padding: 61px;
            display: flex;
            flex-direction: column;
            gap: 40px;

            border-radius: 10px;
            background-color: white;

            width: 542px;
            height: 476px;


            justify-content: center;
            text-align: left;
            h1 {
                color: #0499DD;
            }
        }
    }
}

.alphacentaur {
    display: grid;
    justify-content: center;
    
    h2 {
        color: #0499DD;
    }
}

.alphacentaur .polyphemus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    button {
        margin-top: 20px;
        text-align: center;
        background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
        border-radius: 60px;
        border: none;
        width: 230px;
        height: 50px;

        .h {
            color: white;
        }
    }
}

.thanatos {
    display: grid;
    grid-template-columns: repeat(2, 550px);
    grid-template-rows: repeat(2, 134px);
    gap: 80px;
    height: 500px;
    padding: 100px;

    .aether {
        display: flex;

        .oceanus {
            display: grid;
            gap: 10px;
            padding-left: 20px;
        }
    }

}