@media (max-width: 375px) {

    main {
        header {
            background-image: url(./image/Yanki\ \(51\)\ 1.jpg);
            height: 667px;

            .solarsystem {
                padding: 20px 20px;
            }
            

            .sun {
                .venus {
                    gap: 20px;
                }
            }

            .sun:nth-child(3) {
                transform: translateX(60px);
                a {
                    img {
                        width: 79px;
                        height: 20px;
                    }
                }
            }

            .sun:nth-child(4) {
                .venus:nth-child(1) {
                    transform: translateX(-130px);
                }

                .venus:nth-child(2) {
                    display: none;
                }
            }

            .sun:nth-child(2) {
                display: none;
            }

            .sun:nth-child(5) {
                
                .venus:nth-child(1) {
                    display: none;
                }

                .venus:nth-child(2) {
                    a {
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
            .colection {
                padding: 246px 37px;
                row-gap: 15px;
                text-align: center;

                h1 {
                    font-size: 32px;
                }
    
                a {
                    font-size: 14px;
                }
            }
        }

        .categories {
            padding: 60px 20px;
            row-gap: 30px;
            .text {
                width: 335px;
                h2 {
                    font-size: 24px;
                }
            }
            
                .catalogs {
                    grid-template-columns: repeat(4, 165px);
                    grid-template-rows: repeat(1, 230px);
                    translate: 25.5%;

                    .coat {
                        button {
                            display: block;
                            translate: 60px -50px;
                            width: 30px;
                            height: 30px;
                            background-size: 30%;
                        }
                    }

                    .blur {
                        p {
                            font-size: 18px;
                        }
                    }

                    .fur {
                        display: none;
                    }

                    .parks {
                        display: none;
                    }
             }
        }
        .reg {
            row-gap: 30px;

            h2 {
                font-size: 24px;
            }
            .field {

                input {
                    padding: 12px 83px;
                }

                button {
                    padding: 12px 113px;
                }

                .text {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    footer {
        p {
            font-size: 10px;
            display: block;
            transform: translateY(50px);
            color: #252525;
        }
    }    

    .foot {
        display: grid; 
        grid-template-columns: repeat(1, 335px);
        grid-template-rows: repeat(4, 26px);
        padding: 60px 20px;
        row-gap: 20px;

        .link {
            h3 {
                text-align: center;
                border-bottom-style: solid;
                border-color: black;
                border-width: 1px;
                width: 335px;
                font-size: 18px;
            }
            .mgg {
                display: none;
            }
        }

        .linkflex {
            padding-top: 55px;
            
            .mggflex {
                .image {
                    align-items: center;
                    justify-content: center;
                }

                a {
                    font-size: 14px;
                }
            }
        }
    }
}