* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

button {
    margin: 50px;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    border: none;
}


.closed {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}


.click {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.click:hover {
    background-color: aqua;
    color: black;
    transition: .1s;
    border-style: outset;
    border-color: aqua;
}

.click:active {
    background-color: green;
    color: white;
    border-style: none;
}  

table {
    border:none;
    border-collapse: collapse;
    width: 100%;
    td {
        padding: 10px;
    }

    tr {
        cursor: pointer;
        transition: .4s ease;
    }

    tr:hover {
        background-color: skyblue;
    }

    .red {
        background-color: red;
    }

    .gray {
        background-color: gray;
    }
}