* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.section6 {
    display: flex;
    gap: 30px;

    flex-direction: column;

    padding: 130px;

}

h2 {
    font-size: 56px;
}

p {
    font-size: 22px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.box {
    width: 30%;
}