* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

div{
    background-color: red;
    width: 200px;
    height: 200px;
    padding: 20px;


    background-size: 50% 50%;

    background-repeat: no-repeat;
}

.mercury {
    background-image: url(https://avatars.mds.yandex.net/i?id=e78debe3d2abe79a527baddde824a4666ea03f4e-9223904-images-thumbs&n=13);
    
    background-position: center;
}

.venus {
    background-image: url(https://avatars.mds.yandex.net/i?id=3d340099ae4cd25b3d5a8a1f4775f2bb-5227767-images-thumbs&ref=rim&n=33&w=250&h=250);

    background-position: top right;
}

.earth {
    background-image: url(https://avatars.mds.yandex.net/i?id=3320a273447b174f4e4c08c6da9af0f8-5888509-images-thumbs&ref=rim&n=33&w=250&h=250);

    background-position: left bottom;
}

.mars {
    background-image: url(https://avatars.mds.yandex.net/i?id=c4d04e8d1ed8d0f3e2d710863d9f0f5c-5314995-images-thumbs&ref=rim&n=33&w=250&h=250);
    
    background-position: bottom;
}

.jupiter {
    background-image: url(https://avatars.mds.yandex.net/i?id=70be6aa8879f51121d68986f6515fe219b7f489b-8495915-images-thumbs&ref=rim&n=33&w=250&h=250);

    background-position: right bottom;
}

.saturn {
    background-image: url(https://avatars.mds.yandex.net/i?id=9763d0ac1932490bb109ae30e38056dc10806351-5279994-images-thumbs&ref=rim&n=33&w=250&h=250) ;
    
    background-position: top;
}