@media (max-width: 450px) {
    .sun {
        padding: 46px 20px;
        grid-template-columns: repeat(2, 1fr);

        div {
            height: 150px;
        }
    }

    .mercury {
        padding: 46px 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 150px);
    }

    .mercury div:nth-child(1) {
        grid-row: 1/1;
        grid-column: 1/1;
    }

    .mercury div:nth-child(2) {
        grid-column: 2/2;
    }

    .venus {
        padding: 46px 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 281px);
    }
}