* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    color: #252D35;
}

.solarsystem {
    display: flex;
    flex-direction: column;
    
    
    .sun {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 206px;
        padding: 37px;
        border-bottom-style: solid;
        border-width: 1px;


        .link {
            display: flex;
            gap: 40px;
            a {
                text-decoration: none;
                color: #252D35;
            }
        }
    }

    .construction {
        display: inline-flex;
        flex-direction: column;
        gap: 30px;
    }

    .table {
        display: inline-flex;
        flex-direction: column;
        padding-left: 15px;
        gap: 10px;
    }

    .text {
        padding-top: 128px;
        display: inline-flex;
        gap: 120px;
        align-items: center;
        justify-content: center;

        .gold {
            color: #B8884B;
            font-weight: 700;
        }

        h2 {
            font-weight: 600;
            font-size: 70px;
        }
        li {
            color: #B8884B;
            p {
                color: black;
                font-weight: 500;
                font-size: 16px;
            }
        }

        .ferst {
            transform: translateY(-70px);
        }

        .proect {
            button {
                width: 288px;
                height: 50px;
                border-radius: 0;
                border-style: solid;
                border-color: #B8884B;
                background-color: transparent;

                p {
                    color: #B8884B;
                    font-weight: 600;
                    font-size: 16px;
                }

                a {
                    color: #B8884B;
                    font-size: 16px;
                }
            }
        }
    }

    .images {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(4, 160px);
        grid-template-rows: repeat(4, 145px);

        .interer {
            background-color: red;
        }

        .interer:nth-child(1) {
            background-image: url(./image/Group\ 25\(1\).png);
            background-color: blue;
            grid-column: 1/3;
            grid-row: 1/5;
        }

        .interer:nth-child(2) {
            background-color: black;
            background-image: url(./image/Rectangle\ 7\(1\).png);
            grid-row: 1/3;
        }

        .interer:nth-child(3) {
            background-image: url(./image/Rectangle\ 9\(3\).png);
        }

        .interer:nth-child(4) {
            background-image: url(./image/Rectangle\ 10\(2\).png);
        }

        .interer:nth-child(5) {
            background-image: url(./image/Rectangle\ 8\(1\).png);
            background-color: aqua;
            grid-column: 3/5;
            grid-row: 3/5;
        }
    }

    .mercury {
        display: inline-flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
        padding-top: 250px;
        

        .wall {
            display: inline-flex;
            row-gap: 0px;
            justify-content: space-between;
            padding-left: 15px;
            width: 700px;
            height: 88px;
            backdrop-filter: blur(10px);
            background-color: #F1F5F8CC;

            .description {
                display: inline-flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                row-gap: 3px;
                h3 {
                    font-weight: 600;
                    font-size: 30px;
                }
                p {
                    font-weight: 500;
                    font-size: 16px;
                }
            }

            .arrow {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                padding-right: 15px;
                button {
                    width: 50px;
                    height: 58px;
                    border-style: solid;
                    border-width: 2px;
                    border-color: rgb(186, 185, 185);
                    background-color: transparent;
                    background-image: url(./image/Vector\(1\).png);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

        

        .venus {
            display: inline-flex;
            align-items: end;
            justify-content: center;
            background-image: url(./image/image\ 1\(2\).png);
            width: 740px;
            height: 740px;
            padding-bottom: 20px;
        }

        .earth {
            display: inline-flex;
            align-items: end;
            justify-content: center;
            background-image: url(./image/image\ 2\(1\).png);
            width: 740px;
            height: 740px;
            padding-bottom: 20px;
        }
    }

    .mars {
        padding-top: 260px;
        display: inline-flex;
        row-gap: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .jupiter {
            text-align: center;
            display: inline-flex;
            flex-direction: column;
            gap: 15px;
            h2 {
                font-weight: 600;
                font-size: 60px;
            }

            p {
                font-weight: 500;
                font-size: 16px;
            }
        }

        .saturn {
            display: grid;
            gap: 75px;
            grid-template-columns: repeat(6, 209px);
            grid-template-rows: repeat(6, 1px);

            .titan {
                padding-top: 80px;
                text-align: center;
                background-repeat: no-repeat;
                background-position: center top;
                h3 {
                    font-weight: 600;
                    font-size: 50px;
                }

                p {
                    font-weight: 500px;
                    font-size: 20px;
                }

                .da {
                    display: inline-flex;

                    p {
                        font-weight: 600;
                        font-size: 30px;
                        transform: translateY(20px);
                    }
                }
            }

            .titan:nth-child(1) {
                background-image: url(./image/Group\ 115.png);
            }

            .titan:nth-child(2) {
                background-image: url(./image/Group\ 114.png);
            }

            .titan:nth-child(3) {
                background-image: url(./image/Group\ 113.png);
            }

            .titan:nth-child(4) {
                background-image: url(./image/Layer_2.png);
            }

            .titan:nth-child(5) {
                background-image: url(./image/Layer_2\(1\).png);
            }

            .titan:nth-child(6) {
                background-image: url(./image/Layer_2\(2\).png);
            }
        }
    }
}

