* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    
}

.sun {

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 40px;

    .venus {
        display: flex;
        flex-direction: column;
        gap: 30px;

        justify-content: center;
        align-items: center;

        .best {
            color: rgb(193, 193, 193);
            font-weight: 400;
        }

        h1 {
            font-weight: 400;
        }

        .started {
            font-size: 12px;
            font-weight: 500;
            text-decoration: none;
            color: black;
        }
    }
}

.mercury {
    
    background-size: 658px 441px;
    
    background-repeat: no-repeat;
    
    background-position: 96px 10px;

    
    width: 982px;
    height: 570px;

    .earth {
    display: flex;
    flex-direction: column;
    gap: 15px;

        

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        h3 {
            font-weight: 400;
        }

        a {
            font-size: 12px;
            font-weight: 400;

            text-decoration: none;
            text-transform: uppercase;
            color: black;
        }
    }

}

.mars {
    
    background-size: 658px 441px;
    
    background-repeat: no-repeat;

    background-position: 16px 10px;

    width: 982px;
    height: 570px;

    .jupiter {
        display: flex;
    flex-direction: column;
    gap: 15px;

        

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        h3 {
            font-weight: 400;
        }

        a {
            font-size: 12px;
            font-weight: 400;

            text-decoration: none;
            text-transform: uppercase;
            color: black;
        }
    }
}

.saturn {
    display: flex;
}
