* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

button {
    padding: 10px;
    border-radius: 10px;
    background-color: gold;
    color: white;
    width: 200px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: .1s ease;
}

.hover_btn:hover {
    /*background-color: green;
    color: black;*/

    opacity: .7;
}

.hover_btn:active {
    background-color: green;
}

.disabled_btn:disabled {
    opacity: .5;
    cursor: not-allowed;
}