* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



table {
    border-collapse: collapse;
    margin: 50px auto;
    border-color: #eaf4f7;
}

th, td {
    padding: 12px 8px;
    text-align: start;
    font-weight: 300;
}

th {
    background-color: #eaf4f7;
}